/* todo.css */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

input{
    padding-left: 10px;
}

#wrap{
    width: 800px;
    margin: 0 auto;
}

.todoList_box{
    width: 100%;
}

#todoList{
    display: inline-block;
    display: flex;
}
.todo, .todoTime, .todoState{
    width: 33.3%;
}