/* h_w.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrap{
    width: 1000px;
    height: 5000px;
    margin: 0 auto;
    position: relative;
}
#header{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
#title{
    font-size: 22px;
    font-weight: 800;
    margin-top: 20px;
}
#earth{
    background: url(../image/EARTH.jpeg);
    width: 1000px;
    height: 400px;
    background-size: contain;
}
#item{
    width: 180px;
    height: 30px;
    padding: 5px 10px;
    position: relative;
}
.icon{
    box-sizing: border-box;
    width: 50px;
    height: 20px;
    border-radius: 10px;
}
#item .item1{
    background: darkslategray;
}
#item .item2{
    background: skyblue;
    position: relative;
    left: 55px;
}
#item .item3{
    background: skyblue;
    position: relative;
    left: 55px;
}
#main{
    width: 1000px;
    margin: 0 auto;
}
.text{
    width: 1000px;
    margin-bottom: 30px;
}
.text p{
    font-size: 20px;
    margin-top: 14px;
}
#box{
    width: 910px;
    margin: 0 auto;
    position: relative;
}
#box .box1{
    background: url(../image/warming.jpeg);
    width: 290px;
    height: 180px;
    background-size: cover;
}
#box .box2{
    background: url(../image/polarbear.jpeg);
    width: 290px;
    height: 180px;
    background-size: cover;
    top: 0;
    left: 310px;
    position: absolute;
}
#box .box3{
    background: url(../image/plant.jpeg);
    width: 290px;
    height: 180px;
    background-size: cover;
    top: 0;
    left: 620px;
    position: absolute;
}
ul{
    list-style-type: none;
}
#sub{
    background: skyblue;
    position: fixed;
    top: 150px;
    left: 40px;
    border-radius: 10px;
    width: 75px;
    height: 140px;
    color: white;
    padding: 10px 5px;
}
#menu li{
    line-height: 30px;
}